<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Dynoroller 0.1.0</h1>
    <p>This is a WIP dice rolling application. Last updated 6/6/2020. Code to be deployed to github and licensed under MIT.</p>
  </div>
</div>
</body>
</html>
